In [1]:
!cp po9.db po10.db

In [2]:
'''
This file to edit the tables in the database
I have alreaady edited field_book where I dropped the duplicates and set the plant_name to be the primary key
'''

'\nThis file to edit the tables in the database\nI have alreaady edited field_book where I dropped the duplicates and set the plant_name to be the primary key\n'

In [3]:
'''
In the following I will edit rgb table
I will drop all the non relevant columns like:
    treatment
    plot 
    genotype 
I will keep the plant_name so it can be a foriegn key to field_book
That way we can lose redundant data and we can get this data from the 
field_book.

One conclusion I got from field book:
      {treatment, plot, genotype} hasn't changed overtime for each scan
'''
import sqlite3
import pandas as pd
from IPython.display import display

# global values
po9 = sqlite3.connect('po9.db')
po10 = sqlite3.connect('po10.db')
flir = pd.read_sql_query('SELECT * FROM flir', po9)

In [51]:
#inspect 
display(flir)
print(flir.columns)

,level_0,index,date,treatment,plot,genotype,lon,lat,min_x,max_x,...,roi_temp,quartile_1,mean,median,quartile_3,variance,std_dev,labels,plant_name,double_lettuce
0,0,2727,2020-02-03,border,MAC_Field_Scanner_Season_10_Range_30_Column_1,Green_Towers_BORDER,-111.975051,33.075605,47,156,...,290.417847,289.611664,290.018616,289.993835,290.434509,0.340766,0.583752,7,Green_Towers_BORDER_20,0.0
1,1,2728,2020-02-03,border,MAC_Field_Scanner_Season_10_Range_30_Column_1,Green_Towers_BORDER,-111.975051,33.075595,76,159,...,288.961121,289.463745,289.917511,289.893402,290.361206,0.438936,0.662523,5,Green_Towers_BORDER_1824,0.0
2,2,1875,2020-02-04,border,MAC_Field_Scanner_Season_10_Range_30_Column_1,Green_Towers_BORDER,-111.975051,33.075595,23,163,...,284.915924,282.705139,284.481445,283.935211,285.879272,5.080338,2.253961,5,Green_Towers_BORDER_1824,0.0
3,3,2674,2020-02-08,border,MAC_Field_Scanner_Season_10_Range_30_Column_1,Green_Towers_BORDER,-111.975051,33.075583,80,148,...,297.186127,295.671661,296.946320,296.808838,298.032288,2.890831,1.700244,6,Green_Towers_BORDER_977,0.0
4,4,1337,2020-02-12,border,MAC_Field_Scanner_Season_10_Range_30_Column_1,Green_Towers_BORDER,-111.975051,33.075586,54,124,...,293.178406,292.528870,293.533295,293.327209,294.144806,2.416527,1.554518,3,Green_Towers_BORDER_919,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200509,200509,12268,2020-03-03,border,MAC_Field_Scanner_Season_10_Range_53_Column_39,Green_Towers_BORDER,-111.974845,33.076414,36,151,...,286.531860,286.281525,286.912720,286.670624,287.457764,0.663419,0.814505,6,Green_Towers_BORDER_5513,0.0
200510,200510,12269,2020-03-03,border,MAC_Field_Scanner_Season_10_Range_53_Column_39,Green_Towers_BORDER,-111.974845,33.076423,15,163,...,285.459778,285.904785,286.586945,286.344177,287.189240,0.924720,0.961624,3,Green_Towers_BORDER_1197,0.0
200511,200511,12270,2020-03-03,border,MAC_Field_Scanner_Season_10_Range_53_Column_39,Green_Towers_BORDER,-111.974845,33.076411,40,129,...,285.575623,285.722839,285.973083,285.981659,286.211884,0.123712,0.351728,0,Green_Towers_BORDER_570,0.0
200512,200512,12271,2020-03-03,border,MAC_Field_Scanner_Season_10_Range_53_Column_39,Green_Towers_BORDER,-111.974845,33.076417,34,160,...,286.072418,286.211884,287.106049,286.733032,287.869415,1.512649,1.229898,4,Green_Towers_BORDER_1730,0.0
200513,200513,12272,2020-03-03,border,MAC_Field_Scanner_Season_10_Range_53_Column_39,Green_Towers_BORDER,-111.974845,33.076408,40,139,...,286.874939,286.413727,287.204224,286.989044,287.903625,0.827852,0.909864,7,Green_Towers_BORDER_838,0.0

Index(['level_0', 'index', 'date', 'treatment', 'plot', 'genotype', 'lon',
       'lat', 'min_x', 'max_x', 'min_y', 'max_y', 'nw_lat', 'nw_lon', 'se_lat',
       'se_lon', 'bounding_area_m2', 'roi_temp', 'quartile_1', 'mean',
       'median', 'quartile_3', 'variance', 'std_dev', 'labels', 'plant_name',
       'double_lettuce'],
      dtype='object')

In [30]:
'''
For the flir data I am not sure which columns makes it unique
'''

dups = flir[flir.duplicated(keep=False)]
display(dups)

Empty DataFrame
Columns: [level_0, index, date, treatment, plot, genotype, lon, lat, min_x, max_x, min_y, max_y, nw_lat, nw_lon, se_lat, se_lon, bounding_area_m2, roi_temp, quartile_1, mean, median, quartile_3, variance, std_dev, labels, plant_name, double_lettuce]
Index: []

[0 rows x 27 columns]

In [29]:
'''
ops:
1) drop columns
2) set primary keys
'''
#1) drop columns

drop_unwanted_columns = flir.drop(columns = ['level_0', 'index'])
dups = drop_unwanted_columns[drop_unwanted_columns.duplicated(keep=False)]
display(dups)

Empty DataFrame
Columns: [date, treatment, plot, genotype, lon, lat, min_x, max_x, min_y, max_y, nw_lat, nw_lon, se_lat, se_lon, bounding_area_m2, roi_temp, quartile_1, mean, median, quartile_3, variance, std_dev, labels, plant_name, double_lettuce]
Index: []

[0 rows x 25 columns]

In [38]:
'''
From the data we can see tha each plant has one scan per date
let's check that out
'''
#check that date+name is not redundant
name_date = drop_unwanted_columns['plant_name'] + drop_unwanted_columns['date']
+drop_unwanted_columns['lon'] + drop_unwanted_columns['lat']
print(f'len(name_date): {len(name_date)}')
print(f'len(set(name_date)): {len(set(name_date))}')
if(len(name_date) == len(set(name_date))):
    print('equal')
#Thus, the combination of date name is unique

len(name_date): 200514
len(set(name_date)): 185663

In [41]:
#identify primary keys
print(drop_unwanted_columns.columns)
is_dup_df = drop_unwanted_columns.duplicated(subset=['plant_name', 'date','bounding_area_m2', 'quartile_3'],keep=False)
dups = drop_unwanted_columns[is_dup_df]
display(dups)

Index(['date', 'treatment', 'plot', 'genotype', 'lon', 'lat', 'min_x', 'max_x',
       'min_y', 'max_y', 'nw_lat', 'nw_lon', 'se_lat', 'se_lon',
       'bounding_area_m2', 'roi_temp', 'quartile_1', 'mean', 'median',
       'quartile_3', 'variance', 'std_dev', 'labels', 'plant_name',
       'double_lettuce'],
      dtype='object')

Empty DataFrame
Columns: [date, treatment, plot, genotype, lon, lat, min_x, max_x, min_y, max_y, nw_lat, nw_lon, se_lat, se_lon, bounding_area_m2, roi_temp, quartile_1, mean, median, quartile_3, variance, std_dev, labels, plant_name, double_lettuce]
Index: []

[0 rows x 25 columns]

In [49]:
'''
commit new table drop_unwanted_columns
then edit with the script in the next cell
'''
schema = '''
CREATE TABLE IF NOT EXISTS "flir" (
"index" INTEGER,
  "date" TEXT,
  "treatment" TEXT,
  "plot" TEXT,
  "genotype" TEXT,
  "lon" REAL,
  "lat" REAL,
  "min_x" INTEGER,
  "max_x" INTEGER,
  "min_y" INTEGER,
  "max_y" INTEGER,
  "nw_lat" REAL,
  "nw_lon" REAL,
  "se_lat" REAL,
  "se_lon" REAL,
  "bounding_area_m2" REAL,
  "roi_temp" REAL,
  "quartile_1" REAL,
  "mean" REAL,
  "median" REAL,
  "quartile_3" REAL,
  "variance" REAL,
  "std_dev" REAL,
  "labels" INTEGER,
  "plant_name" TEXT,
  "double_lettuce" REAL,
  PRIMARY KEY('plant_name', 'date','bounding_area_m2', 'quartile_3' )
);
'''

drop_unwanted_columns.to_sql('flir', po10, if_exists='replace')

200514

In [50]:
table = 'flir'
sql_command = f'''

PRAGMA foreign_keys=off;

BEGIN TRANSACTION;

ALTER TABLE {table} RENAME TO old_{table};

-- define the primary key constraint here
{schema}

INSERT INTO {table} SELECT * FROM old_{table};

DROP TABLE old_{table};

COMMIT;

PRAGMA foreign_keys=on;


'''
cursor = po10.cursor()
cursor.executescript(sql_command)